# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json

# Local data files
server/data/
server/uploads/

# Environment variables
.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 